
.loading {
	background-color: #E2E2E2;
	
	&.loading-image {
	  border-radius: 0;
	}
	
	&::after {
	  display: block;
	  content: '';
	  position: absolute;
	  height: 10rem;
	  transform: translateX(-100%);
	  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
	  animation: loading 1.5s infinite;
	}
  }
  
  @keyframes loading {
	100% {
	  transform: translateX(100%);
	}
  }
  
  .card-title.loading {
	height: 1.8rem;
  }
  
  .card-image.image {
	max-width: 100%;
	height: auto;
  }
  
  .card-description.loading {
	height: 80px;
  }