$color-white:#EDEDED;
$color-black:#4A4A4A;
$color-orange:#EA7F28;
$color-brown:#D37324;
$bg-white:#FFF;
$buttonheight: 32px;
$buttonwidth:128px;

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('./fonts/roboto.bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 200;
  src: local('Open Sans'), local('OpenSans'),
       url('./fonts/roboto.regular.ttf') format('truetype')
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Regular';
  background: $bg-white;
  color: $color-black;
  font-size:16px;
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
}

/* unvisited link */
a:link {
  color: $color-orange;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: $color-brown;
}

/* mouse over link */
a:hover {
  color: $color-orange;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: $color-orange;
}

#app{
  display: grid;
  grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer"
}

input[type="button"]{
  width: $buttonwidth;
  height: $buttonheight;
  background: $color-orange;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  &:focus{
    background: $color-brown;
    outline: none;
  }
}

label{
  width: 25%;
  display: inline-block;
}

.dropbtn:hover{
  cursor: pointer;
}

.margin-padding-border-1{
  border: 1px solid lightgray;
  padding: 1rem;
  margin: 1rem;
}

.filter-box{
  @extend .margin-padding-border-1;
}

.main-header {
  grid-area: header;
  height: 80px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 24px;
  display: flex;

    .logo{
      flex: 70%;
      padding: 0px 24px;
    }
    .main-nav{
      flex: 10%;
    }
}
.filter-aside {
  grid-area: aside;
}
.main-content {
  grid-area: content;
}
.main-nav{
  grid-area: nav;
  justify-self: end;
  padding: 8px 24px;
}

.footer {
  grid-area: footer;
  height: 80px;
  text-align: center;
  padding: 24px;
  border-top: 1px solid lightgray;
  margin-top: 24px;
}

.list-filters{
  grid-area: filters;
  width: 25rem;
}

.list-items{
  grid-area: car-list;
  display: grid;
  width: 70rem;
  grid-template-areas:
   "list-header list-sorter"
   "list-values list-values"
   "list-paginator list-paginator";
  ul{
    padding: 0;
  }
  .list-header{
    grid-area: list-header;
    margin: 1rem;
    width:30rem;
  }
  .list-sorter{
    grid-area: list-sorter;
    align-self: center;
    width:30rem;
  }
  .list-values{
    grid-area: list-values;
  }
  .list-paginator{
    grid-area: list-paginator;
  }
}

.main-nav ul>li{
  display: inline-block;
  margin: 0.2rem;
  padding: 0.2rem;
}

.list-page{
  display: grid;
  grid-template-areas: "filters car-list car-list"
}


.detail-page{
  min-height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
    .detail-content{
      padding: 24px;
      margin: 24px;
    }
    .favorite-box{
      border: 1px solid lightgray;
      width: 30rem;
      margin: 24px;
      padding: 24px;
      height: 10rem;
    }
} 

.not-found-page{
  min-height: 800px;
  text-align: center;
}
