$primary-color: black;
$bg: white;

.margin-padding-border-1{
  border: 1px solid grey;
  padding: 1rem;
  margin: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  color: $primary-color;
  background-color: $bg;
}

ul{
  list-style-type: none;
}

.car-list-item{
  @extend .margin-padding-border-1;
  box-shadow: 1px 2px 1px 1px grey;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.car-list-item aside{
    display: inline-block;
}

.car-list-item content{
  display: inline-block;
}

.filter-box{
  @extend .margin-padding-border-1;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.main-header {
  grid-area: header;
}
.filter-aside {
  grid-area: aside;
}
.main-content {
  grid-area: content;
}
.main-nav{
  grid-area: nav;
}
.footer {
  grid-area: footer;
}
.list-page{
  grid-area: page;
}

#app{
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header nav"
    "page page"
    "footer footer"
}