$color-white:#EDEDED;
$color-black:#4A4A4A;
$color-orange:#EA7F28;
$color-brown:#D37324;
$bg-white:#FFF;
$buttonheight: 32px;

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('./fonts/roboto.bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 200;
  src: local('Open Sans'), local('OpenSans'),
       url('./fonts/roboto.regular.ttf') format('truetype')
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Regular';
  background: $bg-white;
  color: $color-black;
  font-size:16px;
}

ul{
  list-style-type: none;
}

#app{
  display: grid;
  grid-template-areas: 
    "header header nav"
    "content content content"
    "footer footer footer"
}

input[type="button"]{
  width: 128px;
  height: $buttonheight;
  background: $color-orange;
  color: $color-white;
}

label{
  width: 25%;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 20rem;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0.2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 20rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: uppercase
}

.dropdown-content a:hover {background-color: $color-orange;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: $color-orange;}

.dropbtn:hover{
  cursor: pointer;
}

.margin-padding-border-1{
  border: 1px solid grey;
  padding: 1rem;
  margin: 1rem;
}

.car-list-item{
  @extend .margin-padding-border-1;
  box-shadow: 1px 2px 1px 1px grey;
}

.car-list-item aside{
    display: inline-block;
}

.car-list-item content{
  display: inline-block;
}

.filter-box{
  @extend .margin-padding-border-1;
}

.main-header {
  grid-area: header;
}
.filter-aside {
  grid-area: aside;
}
.main-content {
  grid-area: content;
}
.main-nav{
  grid-area: nav;
}
.footer {
  grid-area: footer;
}

.list-filters{
  grid-area: filters;
}

.list-items{
  grid-area: car-list
}

.main-nav ul>li{
  display: inline-block;
  margin: 0.2rem;
  padding: 0.2rem;
}

.list-page{
  display: grid;
  grid-template-areas: "filters car-list car-list"
}

.loading {
  position: relative;
  background-color: #E2E2E2;
  
  &.loading-image {
    border-radius: 0;
  }
  
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.card-title.loading {
  height: 1.8rem;
}

.card-image.image {
  max-width: 100%;
  height: auto;
}

.card-description.loading {
  height: 80px;
}